.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 93px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  padding-bottom: 5px;
  font-size: 18px;
  text-underline-offset: 3px;
  list-style: circle;
}

.header__link_active,
.footer__menu-link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__links-list-item-about {
  padding-top: 1px;
  padding-left: 3px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address-block {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  padding-bottom: 4px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-underline-offset: 3px;
}

.cover {
  position: relative;
  z-index: 0;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title,
.cover__description-text,
.bet-button {
  text-transform: uppercase;
}

.cover__title {
  padding: 165px 50px 85px;
  color: white;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
  padding-bottom: 20px;
}

.aligned-text_center {
  padding-left: 29px;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.aligned-text_right-normal-spacing {
  letter-spacing: normal;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cover__description-text,
.bet-button {
  color: #fff;
  font-size: 22px;
}

.cover__description-text {
  padding-top: 14px;
  padding-left: 50px;
  word-spacing: 19px;
}

.bet-button {
  margin-right: 50px;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  background-color: transparent;
}

.lots {
  padding-top: 180px;
}

.lots__heading,
.card__title {
  text-transform: uppercase;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 64px;
  font-size: 40px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card,
.card-link {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  padding: 48px 40px 0;
  font-size: 22px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.card__text {
  padding: 17px 41px 52px;
  font-size: 20px;
}

.lots__look-more-link {
  margin-left: 64px;
  font-size: 20px;
  line-height: 83px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-items: center;
  padding-top: 126px;
  padding-left: 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  padding-top: 112px;
  padding-bottom: 111px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__column-text {
  width: 693px;
  font-size: 20px;
  line-height: 24px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 180px;
  padding-bottom: 82px;
}

.address-block_footer {
  justify-self: center;
  max-width: 264px;
  text-underline-offset: 4px;
}

.footer__menu {
  justify-self: center;
  font-size: 18px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1px;
  text-underline-offset: 4px;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  justify-self: center;
  justify-content: center;
  gap: 48px;
  width: 240px;
  padding-left: 27px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
